@page
@model LTHDT_2023_12_WEB.Pages.MH_DanhSach_LoaiSanPhamModel
@using LTHDT_2023_12_Entities
@{
}
<div>
    <a href="MH_Them_LoaiSanPham">Thêm Loại Sản Phẩm</a>
</div>

<form method="post">
  <label for="fname">Từ Khoá:</label><br>
  <input type="text" id="khongquantrong" name="TuKhoa" value=""><br>
  <input type="submit" value="Tìm Kiếm">
</form> 

<div> 
    <table>
        <tr>
            <th>Ma Loai San Pham</th>
            <th>Loại Sản Phẩm</th>
            <th>Xoá</th> <!-- Thêm cột mới cho nút "Xoá" -->
            <th>Sửa</th> <!-- Thêm cột mới cho nút "Sửa" -->
        </tr>
        @foreach (LoaiSanPham lsp in Model.DanhSachLoaiSanPham)
        {
            <tr>
                <td>@lsp.MaLoaiSanPham</td>
                <td>@lsp.loaiSanPham</td>
                <td>
                    <!-- Thêm nút "Xoá" với đường dẫn đến trang MH_Xoa_SanPham và truyền mã sản phẩm -->
                    <a href="MH_Xoa_LoaiSanPham?maLoaiSanPhamInput=@lsp.MaLoaiSanPham&tenLoaiSanPham=@lsp.loaiSanPham">Xoá</a>
                </td>
                <td>
                    <!-- Thêm nút "Sửa" với đường dẫn đến trang MH_Sua_SanPham và truyền mã sản phẩm -->
                    <a href="MH_Sua_LoaiSanPham?maLoaiSanPhamInput=@lsp.MaLoaiSanPham&tenLoaiSanPham=@lsp.loaiSanPham">Sửa</a>
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <a href="/MH_DanhSach_SanPham">Chuyển sang list Loại Sản Phẩm</a>
</div>