@page
@model LTHDT_2023_12_WEB.Pages.Pages_LoaiSanPham.MH_Them_LoaiSanPhamModel
@{
}
<form method="post">
  <label for="fname">Loại sản phẩm:</label><br>
  <input type="text" id="khongquantrong" name="loaiSanPham" value=""><br>
  <input type="submit" value="Thêm">
</form> 

@Model.Chuoi