@page
@model LTHDT_2023_12_WEB.Pages.MH_Them_SanPhamModel
@{
}
<form method="post">
  <label for="fname">Tên:</label><br>
  <input type="text" id="khongquantrong" name="TenSp" value=""><br>
  <label for="fname">Giá:</label><br>
  <input type="text" id="khongquantrong" name="Gia" value=""><br>
  <input type="submit" value="Thêm">
</form> 

@Model.Chuoi