@page
@model PrivacyModel
@{
    ViewData["Title"] = "Page direction";
}
<h1>@ViewData["Title"]</h1>

<div>
    <a href="/MH_DanhSach_SanPham">Sản Phẩm</a>
</div>
<div>
    <a href="/Pages_LoaiSanPham/MH_DanhSach_LoaiSanPham">Loại Sản Phẩm</a>
</div>
<div>
    <a href="/Pages_HoaDonBanHang/MH_DanhSach_HoaDonBanHang">Hoá Đơn Bán Hàng</a>
</div>
<div>
    <a href="/Pages_HoaDonNhapHang/MH_DanhSach_HoaDonNhapHang">Hoá Đơn Nhập Hàng</a>
</div>


<p>Use this page to navigate to certain page.</p>
